<nav>
    <a href="/" class="text-danger text-decoration-none">Cars</a>
    <a href="/add" class="text-light text-decoration-none">Add</a>
    <a href="/list" class="text-light text-decoration-none">List</a>
    <a href="/edit" class="text-light text-decoration-none">Edit</a>
</nav>
<h1>T: NoSQL database</h1>